[user]
  name = Jurre de Jongh
  email = ik@jur.re

[includeIf "gitdir:{{ .chezmoi.homeDir }}/Topicus/"]
  path = {{ .chezmoi.homeDir }}/Topicus/.gitconfig

[commit]
  gpgsign = false

[gpg]
  program = /usr/local/bin/gpg

[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf = input

[pull]
  rebase = false

[push]
  default = simple
  autoSetupRemote = true
