[user]
  name = Jurre de Jongh
  email = jurre.de.jongh@topicus.nl

[commit]
  gpgsign = false

[gpg]
  program = /usr/local/bin/gpg

[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf = input

[pull]
  rebase = false

[push]
  default = simple
  autoSetupRemote = true
