@ouderdossier:registry=https://topicushealthcare.myget.org/F/jgz-ouderdossier/npm/
@fortawesome:registry=https://npm.fontawesome.com/

//npm.fontawesome.com/:_authToken={{ onepasswordRead "op://Personal/2eq7kuiweew4epnrty2itswnuu/password" }}
//topicushealthcare.myget.org/F/jgz-ouderdossier/npm/:_authToken={{ onepasswordRead "op://Personal/ip3nuapy4jo2yeabvw7nlallfa/password" }}
//npm.cloudsmith.io/topicus-healthcare/jgz/:_authToken={{ onepasswordRead "op://Personal/a35wh45p2ryraalbdaztchxtxi/password" }}
